GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_URL=
REDIS_URL=

TELEGRAM_BOT_TOKEN=

ENCRYPTION_KEY=

OPENAI_API_KEY=

BOT_URL=

STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
